/* 
  Se utilizará el fuente Poppins para los títulos 
  y la fuente Open Sans para el resto del los testos
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/************************************************************* 
  GENERAL STYLES
*************************************************************/
:root {
  --decorado: #6956af;
  --decorado1: #fb5b0f;
  --backgroundBody: #111;
  --text: #fff;
  --htmlLogo: #e34c26;
  --cssLogo: #264de4;
  --javascriptLogo: rgb(255, 238, 0);
  --bootstrapLogo: #682ebe;
  --bootstrapLogo1: #563d7c;
  --portfolioBg: #6956afaa;
  --portfolioText: #080024;
  --portfolioLink: #201467;
  --facebookLogo: #3b5998;
  --linkedinLogo: #0e76a8;
  --whatsappLogo: #00bb2d;
  --githubLogo: #171515;
  --fbLogoHover: #25375f;
  --liLogoHover: #0e5d81;
  --waLogoHover: #187a2f;
  --ghLogoHover: #000;
}

body {
  background: var(--backgroundBody);
  font-family: 'Open Sans', sans-serif;
  color: var(--text);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/************************************************************* 
  MENU BUTTON STYLES ON CELL PHONE SCREEN
*************************************************************/
.main__menuButton {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 2.5rem;
  width: 3.125rem;
  padding: 0.5rem;
}

/************************************************************* 
  ESTILOS DEL MENU Y EL DIV DE INFORMACIÓN
*************************************************************/
.main {
  width: 100%;
  position: relative;
}

.main__menuButton--options {
  background: #222;
  position: absolute;
  left: -2000px;
  top: 60px;
  width: 18rem;
  height: 16rem;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  z-index: 50;
}

/* Desplaza el menu al hacer click en el botón de menu en la
  vista de celulares. */
.main__menuButton--options.active {
  left: 0;
}

.main__menuButton--options li {
  width: 100%;
  height: 25%;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  list-style: none;
}

.main__menuButton--options li a {
  display: block;
  color: var(--text);
  text-decoration: none;
  height: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 20px 0px 20px 20px;
}

.main__menuButton--options li a:hover {
  color: var(--decorado);
}

/* Al presionar el botón cambia a color morado */
.main__menuButton--options li a.active {
  color: var(--decorado);
}

/* Cambiar logo del botón del menu */
.closeMenu {
  display: none; /* De inicio el icono de la X no se ve
                    y las barras si */
}

.openMenu.noVisible {
  display: none;  /* Al hacer click en el botón de menu,
                    al icono de las barras se agrega la clase
                    noVisible y desaparece. Si vuelvo a hacer 
                    click, como tiene esa clase, ahora se la 
                    quita y aparece*/
}

.closeMenu.Visible {
  display: inline;  /* Al hacer click en el botón de menu,
                    al icono de la equis se agrega la clase
                    Visible y aparece. Si vuelvo a hacer 
                    click, como tiene esa clase, ahora se la 
                    quita y desaparece*/
  color: var(--decorado);
}
/************************************************************* 
  ESTILOS DEL DIV DE TODA LA INFORMACIÓN
*************************************************************/
/* All div .main__information */
.main__information {
  width: 100%;
  height: calc(100vh - 62px);
  overflow: auto;
}

/* Profile photo section */
.main__information--profilePhoto {
  display: block;
  width: 20.25rem;
  height: 28rem;
  margin: 1.25rem auto;
}

.main__information--profilePhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.main__information--firstMessage {
  display: none;
}

/* Description (home) div */
.main__information--description {
  width: 100%;
}

/* Botón que solo se verá en la pantalla de PC */
.main__information--description .home-div-logo {
  display: none;
}

.main__information--description h1 {
  text-align: center;
  margin-top: 50px;
}

/* Animación del ¡Hola! */
#saludo {
  animation: fill-letter 5s linear infinite;
}
    
#saludo path:nth-child(1) {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
  animation: letter-anim 5s linear infinite;
}
#saludo path:nth-child(2) {
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
  animation: letter-anim1 5s linear infinite;
}
#saludo path:nth-child(3) {
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
  animation: letter-anim2 5s linear infinite;
}
#saludo path:nth-child(4) {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  animation: letter-anim3 5s linear infinite;
}
#saludo path:nth-child(5) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  animation: letter-anim4 5s linear infinite;
}
#saludo path:nth-child(6) {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
  animation: letter-anim5 5s linear infinite;
}

@keyframes letter-anim {
  from{stroke-dashoffset: 68;}
  to{stroke-dashoffset: 0;}
}

@keyframes letter-anim1 {
  0%{stroke-dashoffset: 135;}
  15%{stroke-dashoffset: 135;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim2 {
  0%{stroke-dashoffset: 95;}
  30%{stroke-dashoffset: 95;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim3 {
  0%{stroke-dashoffset: 66;}
  45%{stroke-dashoffset: 66;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim4 {
  0%{stroke-dashoffset: 112;}
  60%{stroke-dashoffset: 112;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim5 {
  0%{stroke-dashoffset: 68;}
  75%{stroke-dashoffset: 68;}
  100%{stroke-dashoffset: 0;}
}

@keyframes fill-letter {
  0%{fill: transparent;}
  80%{fill: transparent;}
  100%{fill: #fff;}
}

/* Efecto maquina de escribir */
.main__information--description .animatedText {
  width: 90%;
  height: 8rem;
  margin: 0 auto;
}

.animatedText .Iam {
  font-size: 2.5rem;
  font-style: italic;
}

.animatedText .myPosition {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  color: var(--decorado);
  display: block;
  width: 100%;
}

.main__information--description p, 
.main__information--menu .portfolio .portfolio__description, 
.main__information--menu .contact .contactDescription {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 40px;
}

/* about div */
.main__information--menu .about {
  width: 100%;
}

/* Botón que solo se verá en la pantalla de PC */
.about .about-div-logo {
  display: none;
}

.main__information--menu .about .titleAbout {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.main__information--menu h2 {
  margin-top: 3.5rem;
  text-align: center;
}

.main__information--menu .about .titleAbout span {
  color: var(--decorado);
}

.main__information--menu .about .titleAbout::before {
  content: 'RESUMEN';
  font-size: 4.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.main__information--menu .about .dataAboutMe {
  line-height: 50px;
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.main__information--menu .about .dataAboutMe span {
  display: block;
  color: #aaa;
}

.main__information--menu .about .dataAboutMe a {
  display: block;
  color: var(--text);
}

.main__information--menu .about .dataAboutMe a:hover {
  color: #aaa;
}

.main__information--menu .about .dataAboutMe .mail {
  margin-left: -2.5%;
}

.main__information--menu .about .descarga {
  display: block;
  background: var(--decorado);
  color: var(--text);
  width: 18rem;
  margin: 4rem auto;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  padding: 15px 0;
  border: 4px solid var(--decorado);
  border-radius: 9999px;
}

.main__information--menu .about .descarga:hover {
  background: #111;
}

/* Logos */
.main__information--menu .about .skills__list li {
  font-size: 2rem;
  margin: 20px 0;
}

.main__information--menu .about .skills__list li .fa-html5 {
  color: var(--htmlLogo);
}

.main__information--menu .about .skills__list li .fa-css3 {
  color: var(--cssLogo);
}

.main__information--menu .about .skills__list li div {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.main__information--menu .about .skills__list li div .javascript {
  background: var(--javascriptLogo);
}

.main__information--menu .about .skills__list li div .bootstrap {
  background: var(--bootstrapLogo);
}

.main__information--menu .about .skills__list li div img {
  width: 100%;
  height: 100%;
}

.main__information--menu .about .expEdu .expEdu__info {
  width: 90%;
  margin: 0 auto;
}

.main__information--menu .about .expEdu .expEdu__info div {
  display: flex;
  align-items: center;
}

.main__information--menu .about .expEdu .expEdu__info div .expEdu__info--logo {
  display: inline-block;
  background: var(--decorado);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
}

.main__information--menu .about .expEdu .expEdu__info div .expEdu__info--logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__information--menu .about .expEdu .expEdu__info div .expEdu__info--date {
  display: inline-block;
  margin-left: 2.5rem;
  background: #222;
  padding: 7.5px 30px;
  border-radius: 9999px;
}

.main__information--menu .about .expEdu .expEdu__info h3 .expEdu__info--place {
  color: #555;
}

.main__information--menu .about .expEdu .expEdu__info p {
  letter-spacing: 3px;
  line-height: 30px;
  text-align: justify;
}

.main__information--menu .about .expEdu .expEdu__info p a {
  color: #999;
}

.main__information--menu .about .expEdu .expEdu__info p a:hover {
  color: var(--text);
}

/* Portfolio div */
.main__information--menu .portfolio {
  width: 100%;
}

/* Botón que solo se verá en la pantalla de PC */
.portfolio .portfolio-div-logo {
  display: none;
}

.main__information--menu .portfolio .titlePortfolio {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.main__information--menu .portfolio .titlePortfolio::before {
  content: 'TRABAJOS';
  font-size: 3.75rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.main__information--menu .portfolio .portfolioWorksButton {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 2.5rem;
  width: 3.125rem;
  padding: 0.5rem;
  margin-left: 0.625rem;
}

.main__information--menu .portfolio .portfolioWorksButton i {
  font-size: 2rem;
  cursor: pointer;
}

/* Cambiar logo del botón que muestra y oculta los trabajos */
.fa-caret-up {
  display: none; /* De inicio el icono de la flecha hacia arriba
                    no se ve y la flecha hacia abajo si */
}

.fa-caret-down.noVisible1 {
  display: none;  /* Al hacer click en el botón,
                    al icono de la flecha hacia abajo se 
                    agrega la clase noVisible y desaparece. 
                    Si vuelvo a hacer click, como tiene esa 
                    clase, ahora se la quita y aparece*/
}

.fa-caret-up.Visible1 {
  display: inline;  /* Al hacer click en el botón,
                    al icono de la flecha hacia arriba se 
                    agrega la clase Visible y aparece. Si 
                    vuelvo a hacer click, como tiene esa 
                    clase, ahora se la quita y desaparece*/
  color: var(--decorado);
}

/* Divs que contienen la informacion de los trabajos*/
.main__information--menu .portfolio .portfolioWorks {
  width: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.main__information--menu .portfolio .portfolioWorks.active1 {
  width: 100%;
  height: auto;
  overflow: visible;
}

.main__information--menu .portfolio .portfolioWorks .portfolioWorks__container {
  width: 20.25rem;
  height: 20rem;
  margin: 1rem auto;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.main__information--menu .portfolio .portfolioWorks .portfolioWorks__container .portfolioWorks__container--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.main__information--menu .portfolio .portfolioWorks .portfolioWorks__container .portfolioWorks__container--info {
  background: var(--portfolioBg);
  text-align: center;
  color: var(--portfolioText);
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0);
  transition: 0.5s;
}

.main__information--menu .portfolio .portfolioWorks .portfolioWorks__container:hover .portfolioWorks__container--info {
  transform: scale(1);
}

.main__information--menu .portfolio .portfolioWorks .portfolioWorks__container .portfolioWorks__container--info a {
  color: var(--portfolioLink);
  font-size: 0.75rem;
}

/* contact div */
.main__information--menu .contact {
  width: 100%;
}

/* Botón que solo se verá en la pantalla de PC */
.contact .contact-div-logo {
  display: none;
}

.main__information--menu .contact .titleContact {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative;
}



.main__information--menu .contact .titleContact::before {
  content: 'CONTÁCTAME';
  font-size: 2.75rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.main__information--menu .contact .mailPhoneContainer {
  width: 90%;
  margin: 25px auto;
}

.main__information--menu .contact .mailPhoneContainer i {
  color: var(--decorado);
  font-size: 2rem;
}

.main__information--menu .contact .mailPhoneContainer p {
  color: #555;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}

.main__information--menu .contact .mailPhoneContainer a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.125rem;
}

/* Hover effects */
.main__information--menu .contact .mailPhoneContainer a:hover {
  color: #555;
}

.main__information--menu .contact .mailPhoneContainer .mailPhoneContainer__mail {
  margin-bottom: 30px;
}

.main__information--menu .contact .socialMediaLinks {
  width: 90%;
  margin: 0 auto;
}

.main__information--menu .contact .socialMediaLinks ul {
  display: flex;
  justify-content: space-around;
}

.main__information--menu .contact .socialMediaLinks li {
  list-style: none;
  width: 25%;
}

.main__information--menu .contact .socialMediaLinks li a {
  display: block;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  background: var(--text);
}

.main__information--menu .contact .socialMediaLinks li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text);
}

.main__information--menu .contact .socialMediaLinks li .facebook {
  background: var(--facebookLogo);
}

.main__information--menu .contact .socialMediaLinks li .linkedin {
  background: var(--linkedinLogo);
}

.main__information--menu .contact .socialMediaLinks li .whatsapp {
  background: var(--whatsappLogo);
}

.main__information--menu .contact .socialMediaLinks li .github {
  background: var(--githubLogo);
}

/* Hover effects */
.main__information--menu .contact .socialMediaLinks li .facebook:hover {
  background: var(--fbLogoHover);
}

.main__information--menu .contact .socialMediaLinks li .linkedin:hover {
  background: var(--liLogoHover);
}

.main__information--menu .contact .socialMediaLinks li .whatsapp:hover {
  background: var(--waLogoHover);
}

.main__information--menu .contact .socialMediaLinks li .github:hover {
  background: var(--ghLogoHover);
}

/* Formulario de contacto */
.main__information--menu .contact .contact__form {
  width: 90%;
  margin: 30px auto;
}

.main__information--menu .contact .contact__form label,
.main__information--menu .contact .contact__form input,
.main__information--menu .contact .contact__form textarea {
  display: block;
  margin: 20px 0;
  width: 100%;
  resize: none;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.main__information--menu .contact .contact__form input {
  height: 2rem;
  font-size: 1.25rem;
  padding-left: 20px;
}

.main__information--menu .contact .contact__form input:focus {
  outline: none;
}

.main__information--menu .contact .contact__form textarea {
  padding: 15px;
  text-align: justify;
}

.main__information--menu .contact .contact__form textarea:focus {
  outline: none;
}

.main__information--menu .contact .contact__form button {
  background: var(--decorado);
  display: block;
  color: var(--text);
  width: 150px;
  height: 50px;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  border: 1px solid var(--decorado);
  border-radius: 9999px;
  transition: 0.5s;
}

.main__information--menu .contact .contact__form button:hover {
  background: transparent;
}


/************************************************************* 
  DESKTOP SCREEN
*************************************************************/
@media screen and (min-width: 1000px) {
  body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  /* Delete menu button and menu */
  .main__menuButton, .main__menuButton--options {
    display: none;
  }

  .main {
    width: 100%;
    height: 100vh;
    position: relative;
  }

/* Contenedor de fondo de color var(--decorado) */
  .main__background {
    background-color: var(--decorado);
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 10% 0, 20% 100%, 0% 100%);
    position: absolute;
  }

/* Contenedor de la foto de perfil, mensaje inicial y la información */
  .main__information {
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    overflow: hidden;
    display: flex;
  }

  .main__information--profilePhoto {
    width: 30%;
    height: 100%;
    margin: 0;
  }

  .main__information--menu {
    width: 70%;
    height: 100%;
    position: relative;
  }

/* Mensaje de bienvenida en PC con efecto de máquina de escribir */
  .main__information--firstMessage {
    display: block;
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
  }

  .main__information--firstMessage.active {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .main__information--firstMessage .saludo__bienvenida {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.1875rem;
    text-align: justify;
  }

  .main__information--firstMessage .bienvenida {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }


/* Contenedores individuales de información */
  .home, .about, .portfolio, .contact {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

/* Home div en desktop */
  .home {
    clip-path: circle(40px at 90% 20%);
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
  }

  .home.active {
    clip-path: circle(150% at 90% 20%);
    z-index: 10;
  }

  .home .home-div-logo {
    background: var(--decorado);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 16.5%;
    left: 91.5%;
    cursor: pointer;
  }

  .home .home-div-logo .homeOpen {
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home .home-div-logo .homeClose {
    display: none;
  }
  
  .home .home-div-logo .homeOpen.noVisible {
    display: none;
  }
  
  .home .home-div-logo .homeClose.visible {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }

  .home h1 {
    width: 10rem;
    margin-left: 2rem;
  }

  .home .animatedText {
    width: 75%;
    height: 4rem;
    margin-left: 2rem;
  }

  .animatedText .myPosition {
    display: inline;
  }

  .home p {
    width: 75%;
    margin-left: 2rem;
  }

/* about div en Desktop */
  .about {
    clip-path: circle(40px at 90% 40%);
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
  }

  .about.active {
    clip-path: circle(150% at 90% 40%);
    z-index: 10;
  }

  .about .about-div-logo {
    background: var(--decorado);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 36.5%;
    left: 91.5%;
    cursor: pointer;
  }

  .about .about-div-logo .aboutOpen {
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about .about-div-logo .aboutClose {
    display: none;
  }
  
  .about .about-div-logo .aboutOpen.noVisible {
    display: none;
  }
  
  .about .about-div-logo .aboutClose.visible {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }

  .about .expEdu {
    width: 90%;
  }

  .about .skills__list {
    margin-left: 2rem;
  }

/* Portafolio Div en Desktop */
  .portfolio {
    clip-path: circle(40px at 90% 60%);
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
  }

  .portfolio.active {
    clip-path: circle(150% at 90% 60%);
    z-index: 10;
  }

  .portfolio .portfolio-div-logo {
    background: var(--decorado);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 56.5%;
    left: 91.5%;
    cursor: pointer;
  }

  .portfolio .portfolio-div-logo .portfolioOpen {
    position: absolute;
    font-size: 1.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .portfolio .portfolio-div-logo .portfolioClose {
    display: none;
  }
  
  .portfolio .portfolio-div-logo .portfolioOpen.noVisible {
    display: none;
  }
  
  .portfolio .portfolio-div-logo .portfolioClose.visible {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }

  .main__information--menu .portfolio .portfolio__description,
  .main__information--menu .portfolio .titlePortfolio {
    width: 75%;
    margin-left: 2rem;
  }
  
  .main__information--menu .portfolio .portfolioWorks .portfolioWorks__container {
    margin-left: 2rem;
    width: 75%;
  }

/* Contacto div en Desktop */
  .contact {
    clip-path: circle(40px at 90% 80%);
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
  }

  .contact.active {
    clip-path: circle(150% at 90% 80%);
    z-index: 10;
  }

  .contact .contact-div-logo {
    background: var(--decorado);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 76.5%;
    left: 91.5%;
    cursor: pointer;
  }

  .contact .contact-div-logo .contactOpen {
    position: absolute;
    font-size: 1.1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact .contact-div-logo .contactClose {
    display: none;
  }
  
  .contact .contact-div-logo .contactOpen.noVisible {
    display: none;
  }
  
  .contact .contact-div-logo .contactClose.visible {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
  
  .main__information--menu .contact .titleContact,
  .main__information--menu .contact .contactDescription,
  .main__information--menu .contact .socialMediaLinks,
  .main__information--menu .contact .contact__form {
    width: 75%;
    margin-left: 2rem;
  }
}